<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Desarrollador web <span id="js-rotating">en formación, en coción</span></h4>
  </div>
  <div class="user-content">
    <p>
      Mis estudios se basan, sencillamente en la ESO (Educación Secundaria Obligatoria), luego una vez salí de la ESO, decidí introducirme en el mundillo de la informática,
      ya tocaba varias cosas antes de entrar en el CFGM Sistema Microinformáticos y Redes (SMR), una vez terminé la etpada del grado medio me decidí a meterme de lleno en el mundo
      de la programación CFGS Desarrollo De Aplicaciones Webs (DAW) cosa que siempre me has fascinado, y en concreto la programación web.
    </p>

  </div>
</div>
